* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  /* width: 80%; */
  height: auto;
  background-color: whitesmoke;
  text-align: center;
  color: blue;
  /* padding: 15px; */
}

.error {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  color: red;
  /* background-color: green; */
}
